<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<title>新規登録</title>
</head>
<body>
	<div class="col-sm-5">
		<div class="page-header">
			<h1>ユーザー登録画面</h1>
		</div>
		<form method="post" action="/signup">
			<table class="table table-bordered table-hover">
				<tr>
					<th class="active col-sm-3">名前</th>
					<td>
						<div class="form-group">
							<input type="text" class="form-control" />
						</div>
					</td>
				</tr>
				<tr>
					<th class="active">アカウント名</th>
					<td>
						<div class="form-group">
							<input type="text" class="form-control" />
						</div>
					</td>
				</tr>
				<tr>
					<th class="active">パスワード</th>
					<td>
						<div class="form-group">
							<input type="password" class="form-control" />
						</div>
					</td>
				</tr>
				<tr>
					<th class="active">メールアドレス</th>
					<td>
						<div class="form-group">
							<input type="text" class="form-control" />
						</div>
					</td>
				</tr>
				<tr>
					<th class="active">説明</th>
					<td>
						<div class="form-group">
							<textarea name="description" cols="35" rows="5" class="form-control"></textarea>
						</div>
					</td>
				</tr>

			</table>
			<button class="btn btn-primary" type="submit">登録</button>
			<a th:href="@{/login}">戻る</a>
		</form>
	</div>
</body>
</html>