<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
	<div th:fragment="userDetail_contents">
		<div class="row">
			<div class="col-sm-5">
				<div class="page-header">
					<h1>ユーザー詳細</h1>
				</div>
				<table class="table table-bordered table-hover" th:object="${user}">
					<tr>
						<th class="active col-sm-2">ユーザー名</th>
						<td class="col-sm-3">
							<div class="form-group">
								<p th:text="${user.name}"></p>
							</div>
						</td>
					</tr>
					<tr>
						<th class="active col-sm-2">アカウント</th>
						<td class="col-sm-3">
							<div class="form-group">
								<p th:text="${user.account}"></p>
							</div>
						</td>
					</tr>
					<tr>
						<th class="active col-sm-2">アドレス</th>
						<td class="col-sm-3">
							<div class="form-group">
								<p th:text="${user.email}"></p>
							</div>
						</td>
					</tr>
					<tr>
						<th class="active col-sm-2">説明</th>
						<td class="col-sm-3">
							<div class="form-group">
								<p th:text="${user.description}"></p>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>